/*! mjkjr.css v1.0.0 | MIT License */

*,
::before,
::after {
	box-sizing: border-box;
	border: 0 none;
}

html {
	font-family:
		ui-sans-serif,
		system-ui,
		-apple-system,
		BlinkMacSystemFont,
		"Segoe UI",
		Roboto,
		"Helvetica Neue",
		Arial,
		"Noto Sans",
		sans-serif;
	line-height: 1.5;
	-webkit-text-size-adjust: 100%;
}

body {
	margin: 0;
	color: rgb(17,24,39);
	line-height: 1.5;
	letter-spacing: .05em;
	background-color: #032D55;
	background-image:url('/img/bg.jpg');
	background-size: cover;
	background-attachment: fixed;
	-webkit-font-smoothing: antialiased;
}

hr {
	height: 0;
	color: inherit;
	margin: 0.5rem 0;
	border-style: solid;
	border-color: rgb(59,130,246);
	border-top-width: 3px;
	opacity: .25;
}

h1 {
	font-size: 1.875rem;
	font-weight: 700;
	line-height: 1.875rem;
	margin: 0;
	padding-top: 2rem;
}

h2 {
	font-size: .875rem;
	font-weight: bold;
	margin: 0 0 1rem 0;
	line-height: 1.2rem;
}

p {
	margin: 0;
	padding-bottom: 0.5rem;
}

img,
svg {
	border-style: solid;
	display: block;
	vertical-align: middle;
	height: auto;
}

#button {
	display: inline-block;
	margin: 1rem 0 0 0;
	padding: .5rem 1rem;
	background-color: rgb(30,58,138);
	color: rgb(255,255,255);
	font-weight: 700;
	cursor: pointer;
}
#button:hover {
	background-color: rgb(30,64,175);
}
#button {
	border-radius: 9999px;
}
.icon {
	color: rgb(30,64,175);
	fill: currentColor;
	height: 1rem;
	padding-right: 0.25rem;
	width: 2rem;
}
#main {
	height: auto;
	margin: 8rem auto;
	max-width: 62.5rem;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
#photo-lg {
	display: none;
	position: relative;
	z-index: 1;
	box-shadow: 6px 8px 10px 0px rgba(0, 0, 0, 0.50);
}
#photo-lg,
#photo-lg:before,
#photo-lg:after {
	border-radius: .5rem;
}
#profile {
	width: 100%;
	border-radius: .5rem;
	margin-left: 1.5rem;
	margin-right: 1.5rem;
	opacity: .75;
	background-color: rgb(255,255,255);
	padding: 0 1.25rem 1.5rem 1.25rem;
	text-align: center;
	box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.50);
}
#photo-sm {
	display: block;
	position: relative;
	width: 12rem;
	height: 12rem;
	margin: -4rem auto 0;
	border-radius: 9999px;
	box-shadow: 1px 2px 5px 2px rgba(0, 0, 0, 0.50);
}
#photo-sm::before,
#photo-sm::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-position: top;
	background-size: cover;
	border-radius: 9999px;
	box-shadow: 0 0 #0000,0 0 #0000,0 20px 25px -5px rgba(0, 0, 0, 0.1),0 10px 10px -5px rgba(0, 0, 0, 0.04);
	-webkit-transition: opacity 1s ease-in-out;
	-moz-transition: opacity 1s ease-in-out;
	-o-transition: opacity 1s ease-in-out;
	transition: opacity 1s ease-in-out;
}
#photo-sm::before {
	background-image: url('/img/mjkjr-1.jpg');
	z-index: 10;
}
#photo-sm.fade::before {
	opacity: 0;
}
#photo-sm.fade::after {
	opacity: 1;
}
#photo-sm::after {
	background-image: url('/img/mjkjr-2.jpg');
	z-index: -1;
	opacity: 0;
}
#highlights div {
	font-weight: bold;
	margin: 0 0.5rem;
}
#highlights,
#occupation,
#location,
#links {
	display: flex;
	align-items: center;
	justify-content: center;
}
#bio {
	padding: 1.5rem 0;
	font-size: .875rem;
}
#links {
	width: 80%;
	margin: 0 auto;
	flex-wrap: wrap;
	font-size: .75rem;
}
#links a {
	text-decoration: none;
	margin-top: 1rem;
	margin-right: 1rem;
}
#links .icon {
	display: inline-block;
	color: rgb(75,85,99);
	width: 2rem;
	height: 1.5rem;
}
.items-center {
	align-items: center;
}
@media (min-width: 768px) {
	#profile {
		padding: 0 2rem 2rem 2rem;
	}
	#links a:last-child {
		margin-right: 0;
	}
}
@media (min-width: 1024px) {
	h1 {
		padding-top: 0;
	}
	#main {
		height: 100vh;
		margin-top: 0;
		margin-bottom: 0;
	}
	#photo-sm {
		display: none;
	}
	#photo-lg {
		width: 40%;
		display: block;
		width: 400px;
		height: 600px;
	}
	#photo-lg::before,
	#photo-lg::after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		-webkit-transition: opacity 1s ease-in-out;
		-moz-transition: opacity 1s ease-in-out;
		-o-transition: opacity 1s ease-in-out;
		transition: opacity 1s ease-in-out;
	}
	#photo-lg::before {
		background-image:url('/img/mjkjr-1.jpg');
		z-index: 10;
	}
	#photo-lg.fade::before {
		opacity: 0;
	}
	#photo-lg.fade::after {
		opacity: 1;
	}
	#photo-lg::after {
		background-image:url('/img/mjkjr-2.jpg');
		z-index: -1;
		opacity: 0;
	}
	#profile {
		width: 60%;
		border-top-right-radius: .5rem;
		border-bottom-right-radius: .5rem;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
		margin-left: 0;
		margin-right: 0;
		text-align: left;
		padding: 1.75rem 2rem;
	}
	#highlights div {
		margin: 0 1rem 0 0;
	}
	#highlights,
	#occupation,
	#location,
	#links {
		justify-content: flex-start;
	}
	#links {
		width: 100%;
		padding-bottom: 0;
	}
}
